<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                    <h1 class="card-title"> Channel <%= data.channel.name %> </h1>
            </div>
            <div class="card-body">
                <div class="ql-editor">
                    <%- data.channel.description %>
                </div>
            </div>
        </div>
    </div>
</div>