<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Create Channel 
                </h4>
                <button id="save" class="btn btn-success">save</button>
            </div>

            <div class="card-body">
                <label for="channel_id">Basic Input</label>
                <input class="form-control" type="number" name="channel_id" id="channel_id">
                <label for="full-editor">Channel Details</label>
                <div style="min-height: 200px;" id="full-editor">

                </div>

            </div>
        </div>
    </div>
</div>